@import '../abstrack';

.info-user{
    height: 100% !important;
}

.order-product{
    border: 1px solid #f5f5f5;

    .order-subtotal{
        padding: 0 10px;
    }

    .order-product-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 15px;
        box-sizing: border-box;

        img{
            flex: 1;
            width: 50px;
            object-fit: cover;
            margin-right: 8px;
        }

        .order-product-p{
            flex: 5;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include media (medium) {
                flex-wrap: wrap;
            }
            
            p{
                padding-right: 5px;
                border-right: 2px solid #e5e5e5;

                @include media (small) {
                    font-size: 12px;
                }
            }
        }
    }
}