@import '../abstrack';

.basket-flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 150px;

    @include media(large) {
        flex-direction: column;
        align-items: center;
    }
    
    .basket-card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p{
            margin-bottom: 30px;
        }

        .basket-products-container{
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            position: relative;
            width: 80%;
            padding: 50px;
            border-top: 1px solid #4e4c4b;
            margin-top: 20px;

            @include media(small) {
                flex-direction: column;
                align-items: center;
            }
            
                .basket-products-img{
                    cursor: pointer;
                    img{
                        width: 200px;
                        object-fit: cover;
                    }
                }
            
                .basket-products-right{
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    flex-wrap:wrap ;
                    margin-left: 10px;

                    & > * {
                        margin-bottom:30px;
                    }

                    .basket-products-description{
                        display: flex;
                        flex-direction: column;
                        color: #4e4c4b;
                        
                        h3{
                            margin-bottom: 20px;
                            font-size: 22px;
                            font-weight: lighter;
                            cursor: pointer;
                        }
                        h4{
                            margin-bottom: 20px;
                            font-size: 14px;
                            font-weight: lighter;
                        }
                    }
                
                    .basket-products-quantity{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
    
                        .quantity-arrows{
                            display: flex;
                            align-items: center;
                            font-size: 20px;
                            border-radius: 10px;
                            border: 1px solid #e6e6e6;
    
                            span{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 20px;
                                height: 30px;
                                background-color: #fafafa;
                                color: #3d7c7d;
                            }
    
                            #minus{
                                border-top-left-radius: 10px;
                                border-bottom-left-radius: 10px;
                            }
    
                            #plus{
                                border-top-right-radius: 10px;
                                border-bottom-right-radius: 10px;
                            }
    
                            p{
                                margin: 0;
                                font-size: 15px;
                                width: 40px;
                            }
                        }
                    }
                
                    .basket-products-price{
                        font-weight: bolder;
                    }
                }
            
                .basket-remove-item{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 25px;

                    @include media(small) {
                        right: 25px;
                    }
                }
        }
    }
}
