@import '../abstrack';

.header-container{
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 20px;
    left: 0;
    z-index: 997;
    .header-wrapper{

        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        position: relative;

        .header-logo{
            width: 100%;

            img{
                width: 200px;
                object-fit: cover;

                @include media(small) {
                    width: 140px;
                }
            }
        }
        
        .header-menu{
            width: 100%;

            @include media (large){
                display: none;
            }

            ul{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 100%;

                li{
                    list-style:none;
                    margin-left: 15px;
                    transition: ease-in 2s;

                    a{
                        text-decoration: none;
                        color: #000;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .header-mobile-menu{
            display: none;
           

            @include media (large){
                display: block;
            }

            span{
                font-size: 25px;
            }

            .mobile-menu-container{
                width: 100%;
                height: 100vh;
                position: absolute;
                z-index: 999;
                top: 5px;
                left: 0;
                display: flex;
                align-items: center;
                transition: all .8s;

                .mobile-menu-wrapper {
                    flex: 1;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;

                    @include media(small) {
                        flex: 3;
                    }

                    .head-menu{
                        padding: 20px;
                        img{
                            width:180px;
                            object-fit: cover;
                            margin-bottom: 20px;
                        }

                        .sign-in{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            .upper-sign-in{

                                p{
                                    font-size: 12px;
                                    font-weight: lighter;
                                    text-align: center;
                                    margin-right: 10px;
                                }
                    
                                a{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size:18px;
                                    margin-right: 15px;
                                    color: #000;
                                    text-decoration: none;
                    
                                    @include media (small){
                                        font-size: 16px;
                                    }
                                    
                                    span{
                                        font-size: 32px;
                    
                                        @include media (small){
                                            font-size: 28px;
                                        }
                                    }
                    
                                    &:hover{
                                        text-decoration: underline;
                                    }
                                    
                                }
                            }

                            .flag{

                                &::before{
                                    content: "";
                                    width: 30px;
                                    height: 20px;
                                    background-size: cover;
                                    background-image: url("https://www.burton.com/static/content/2017/images/flags-optimized/flag-color-US.svg"); 
                                    background-repeat: no-repeat;
                                    margin-right: 5px;
                                }
                            }

                            span{
                                display: flex;
                                align-items: center;
                                font-size: 45px;
                                
                                p{
                                    font-size: 18px;
                                    font-weight: bold;

                                    
                                    @include media(small) {
                                        font-size: 16px;
                                        font-weight: lighter;
                                    }
                                }

                                h6{
                                    font-size: 16px;

                                    @include media(small) {
                                        font-size: 14px;
                                        font-weight: lighter;
                                    }
                                }
                            }

                        }
                    }
                    
                    ul{
                        flex-direction: column;
                        margin-top: 25px;

                        li{
                            width: 100%;
                            font-size: 19px;
                            font-weight: bold;

                            @include media(small) {
                                font-size: 16px;
                                font-weight: lighter;
                            }

                            span{
                                padding-left: 10px;
                            }

                            &::after{
                                content: "";
                                display: block;
                                border-bottom: 1px solid #000;
                                line-height: 1px;
                                margin: 23px 0;
                            }

                            a{
                                text-decoration: none;
                                color: #000;
                                padding-left: 10px;
                            }
                        
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .mobile-menu-closer {
                    flex: 1;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color:rgba(0,0,0,.57);

                    span{
                        position: absolute;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 25px;
                        top: 10px;
                        right: 10px;
                        width: 28px;
                        height: 28px;
                        border-radius:50% ;
                        background-color: #fff;
                    }
                }
            }
        }
    }
}